body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef2f5;
    color: #000000;
}

/* ==== LAYOUT CONTAINER ==== */
.dashboard-container {
    display: flex;
    min-height: 100vh;
}

/* Stronger selector para sure gumana */
div.repContent {
   
  background-color: #f9f9f9;     
  border-radius: 10px;        
  padding: 20px;
  margin: 20px left;             
  max-width: 1000px;             
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
 
}

.repContent h1{
    color: #2c3e50;
 text-decoration: underline;
}
